*.iml
/.idea/
/config/jenkins_credentials.yaml
/config/configuration.yaml
/opsdroid-docker.iml
/docker-compose-includes.yaml
/docker-compose-prod.yaml
/docker-compose.yaml
/config/modules/*
!/config/__init__.py
